#graphMenu {
    display: none;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 220px;
    border-radius: 6px;
    background: #f8f8f8;
}

#graphMenu button {
    width: 100%;
    margin-top: 6px;
}