{% extends 'index.htm' %}

{% block head %}
<title>purchases list</title>
{% endblock %}

{% block body %}

<h1>Your purchases list</h1>
<div class="center">
<table cellspacing="0" cellpadding="5">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>quantity</th>
        <th>price</th>
        <th>category</th>
        <th>date</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    {% for p in purchases %}
    <tr>
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.quantity}}</td>
        <td>{{p.price}}</td>
        <td>{{p.category}}</td>
        <td>{{p.date}}</td>
        <td>
            <form action="/delete/{{ p.id }}" method="POST" style="display:inline">
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <form action="/update/{{ p.id }}" style="display:inline">
                <button type="submit">Update</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('show_more', limit=limit+5) }}" class="btn">Load More</a>

<a href="/add" class="btn">Add Purchase</a>
<form action="/save_csv" method="get">
    <button type="submit">Download CSV</button>
</form>

<button onclick="toggleMenu()">Choose graph</button>

<div id="graphMenu">
    <form action="/graph1" method="get">
        <button type="submit">📊 Expenses per Month</button>
    </form>
    <form action="/graph2" method="get">
        <button type="submit">📅 Expenses per Category</button>
    </form>
</div>
<script>
    function toggleMenu() {
        const menu = document.getElementById("graphMenu");
        menu.style.display = menu.style.display === "none" ? "block" : "none";
    }
</script>
</div>
{% endblock %}
